/*Reset CSS*/

* {
  padding: 0;
  margin: 0;
  font-family: Avenir, sans-serif;

}



body {
  position: relative;
  color: black;
  background: linear-gradient(orange, red);
  color: aliceblue;
}

#logo {
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
}



h1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  height: 120px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

/*Contenu*/

main {
  z-index: 1;

}

nav {
  z-index: 5;
}

article {
  display: flex;
  flex-direction: column;
  border: 2px solid aliceblue;
  background-color: rgba(0, 0, 0, 0.250);
  justify-content: space-between;
  padding: 45px;
  margin-bottom: 15px;
  border-radius: 15px;
}

h2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  text-align: center;
  background-color: black;
  box-shadow: 0px 0px 10px #eee7e7,
    0px 0px 30px #111111;
  border-radius: 15px;
  margin-bottom: 30px;

}

h3 {
  margin: 20px;
  font-size: 25px;
  margin-bottom: 35px;
}

p {
  width: 98%;
  margin: auto;
  text-align: left;
  margin-bottom: 20px;
  word-spacing: 0.5px;
  font-size: 22px;

}

.media {
  width: 98%;
  height: 600px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 980px) {


  /*Entête*/

  header {
    height: 500px;
    width: 100%;
    background: linear-gradient(orange, red);
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
  }

  .firstlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: auto;
  }

  h1 {

    height: 100px;
    background-color: black;


  }


  /*Contenu*/

  main {
    width: 95%;
    margin: auto;
  }


}

@media screen and (min-width:980px) {

  /*Barre de navigation*/

  label {
    display: none;
  }

  input {
    display: none;
  }

  nav {
    top: 0;
    width: 100%;
    height: 35px;
    margin: 0 0;
    background: black;
    position: fixed;
    display: flex;
    justify-content: space-around;
  }

  .menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
  }

  .deroulant {
    display: block;
    position: relative;
    width: 20%;
    height: 100%;
    margin: auto;
    text-decoration: none;
  }

  .sous {
    display: none;
    flex-flow: column;
    justify-content: left;
    width: 100%;
    position: absolute;
    background-color: rgba(25, 31, 25, 0.753);
    text-decoration: none;
    list-style-type: none;
    border-top: 2px solid gold;
    margin-top: -2px;
  }

  .deroulant:hover .sous {
    display: flex;

  }

  nav a {
    text-decoration: none;
    display: flex;
    flex-flow: column;
    border-bottom: 2px solid transparent;
    justify-content: center;
    height: 100%;
    color: aliceblue;
  }

  nav a:hover {
    color: gold;

  }


  .sous li {
    height: 35px;
    text-align: left;
  }


  .sous a {
    color: aliceblue;
  }

  .sous a:hover {
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.103);
    color: gold;
  }

  .logoreseau {
    display: flex;
    height: 100%;
    width: 10%;
    justify-content: center;
    align-items: center;
  }


  /*En tête */

  header {
    width: 100%;
    background: linear-gradient(orange, red);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 800px;
  }

  .firstlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: auto;
    height: 50%;

  }

  h1 {
    font-size: 45px;
  }

  /*Contenu*/

  .page {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 65%;

  }

  aside {
    width: 32%;
    border: 2px solid aliceblue;
    background-color: rgba(0, 0, 0, 0.250);
    border-radius: 15px;
  }

}